{:deps 
 {org.clojure/clojure {:mvn/version "1.12.4"}
  ru.clojure.plugins/ClojureTabImpl {:local/root "lib/ClojureTabImpl.jar"}
  com.formdev/flatlaf {:mvn/version "3.6.2"}}
 :aliases
 {:repl-server
  {:exec-fn clojure.core.server/start-server
   :exec-args {:name "repl-server"
               :port 5555
               :accept clojure.core.server/repl
               :server-daemon false}}
 :stop-server             
 {:exec-fn clojure.core.server/stop-server
  :exec-args {:name "repl-server"}}
 :run-ide
 {:main-opts ["-e" "(ru.clojure.plugins.impl.ClojureTabImpl/main (into-array String []))"]}}}
 
  


