{:paths ["src" "clojure/src"]

 :deps {org.clojure/clojure {:mvn/version "1.12.3"}
        io.github.clojure/tools.build {:mvn/version "0.10.11"}
        ru.clojure/ClojureMiniIDE {:local/root "lib/ClojureMiniIDE.jar"}}

 :aliases
 {:build {:ns-default build
          :deps {io.github.clojure/tools.build {:mvn/version "0.10.11"}}}}}

